<h2 mat-dialog-title>Rechercher un jeu</h2>

<mat-dialog-content>
  <app-search-bar (search)="onSearch($event)"></app-search-bar>

  <div class="loading" *ngIf="isLoading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <mat-list *ngIf="!isLoading && games.length > 0">
    <mat-list-item *ngFor="let game of games" class="game-item">
      <img [src]="game.background_image" [alt]="game.name" class="game-image">
      <span class="game-name">{{ game.name }}</span>
      <button mat-icon-button class="add-button" (click)="onAddGame(game)" title="Ajouter à ma collection">
        <mat-icon>add</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <div class="no-results" *ngIf="!isLoading && hasSearched && games.length === 0">
    <p>Aucun jeu trouvé.</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Fermer</button>
</mat-dialog-actions>
