<mat-toolbar color="primary">
  <span class="spacer"></span>

  @if (isRealAccount()) {
    <button mat-icon-button data-testid="user-menu" [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu>
      <button mat-menu-item data-testid="logout-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Se déconnecter
      </button>
    </mat-menu>
  } @else {
    <button mat-icon-button data-testid="open-auth-dialog" (click)="openAuthDialog()">
      <mat-icon>account_circle</mat-icon>
    </button>
  }
  <div style="flex: 1;text-align: center;"><h1>BINGBANG</h1></div>
</mat-toolbar>
